@import './components/user/profile.css';

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  #no-songs-msg{
    display: inline-block;
}

.playlist-card-container{
  margin: 15px;
}

.playlist-card{ 
  width: 240px;
  height: 240px;
  :hover{
    cursor: pointer;
  }
}

.playlist-list-buttons{
  flex-wrap: wrap;
  .btn:hover{
      background-color: inherit;
      color: inherit;
  }
}

#playlist-list-filters{
  .row{
    margin: 10px;
    margin-top: 0px;
  }
}

#main-content-wrapper{
  padding: 15px;
}

/******************
  CATEGORY CARDS
******************/
#category-cards {
  .card {
    margin-right: 25px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1); }

  .card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.1, 1.1); 
    cursor: pointer; }

  #cardImage {
    height: 70%;
  }

  #cardText {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
  }

  .cardBody {
    background-color: rgb(175, 234, 195);
  }

  #choose-category-header {
    font-size: 2em;
    font-style: italic;
    text-align: center;
  }
}

/******************
  CREATE PLAYLIST 
******************/
#create-playlist {
  .table-row {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
  }
  .table-main {
    height: 500px; 
    display: -moz-groupbox;  
  }
  .table-body {
    overflow-y: scroll;      
    height: 400px;        
    width: 100%;
    position: absolute;
  }

  .submit-button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }

  .save-discard-button {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #imagePreview {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .message {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
  }
}